<template>
  <card type="blog" plain>
    <img slot="image" class="img-post rounded img-raised" :src="image">
    <div class="card-body">
      <h6 class="category text-warning">
        <i class="user now-ui-icons users_single-02"></i>
        <router-link :to="'/profile/' + creatorId" class="link text-warning">{{ creatorUsername }}</router-link>
      </h6>
      <div>
        <badge v-for="tag in tags" :key="tag" :style="colorGenerator()">{{ tag }}</badge>
      </div>
      <h5 class="card-title">
        <a href="#nuk">{{ title }}</a>
      </h5>
      <p class="card-description">{{ description }}</p>
    </div>
    
  </card>
</template>

<script>
import { Badge, Card } from '@/components';

export default {
  name: 'publication',
  props: {
    id: { type: String, required: true },
    creatorId: { type: String, required: true },
    creatorUsername: { type: String, required: true },
    title: { type: String, required: true },
    description: { type: String },
    tags: { type: Array, required: true },
    image: { type: String, required: true }
  },
  components: {
    Badge,
    Card
  },
  data() {
    return {};
  },
  methods: {
    colorGenerator() {
      const color = '#' + ((Math.random() * 0xffffff) << 0).toString(16);
      return 'border-color:' + color + '; background-color:' + color;
    }
  }
};
</script>
<style>
i.user {
  margin-right: 5px !important;
}
.badge {
  margin-right: 2px;
}
.img-post {
  width: 100% !important;
}
</style>
