<template>
  <div>
      <publication 
        v-for="post in posts"
        v-bind = "post"
        v-bind:key="post.id"
      ></publication>
  </div>
</template>

<script>
import Publication from './Publication.vue';

export default {
  name: 'wall',
  props: {
    posts: { type: Array, required: true }
  },
  components: {
    Publication
  },
  data() {
    return {};
  }
};
</script>
<style>
</style>
