<template>
  <div class="starter-page">
    <div class="page-header clear-filter" filter-color="blue">
      <parallax class="page-header-image" style="background-image:url('img/header.jpg')"></parallax>

      <div class="container">
        <div class="content-center brand">
          <img class="n-logo" src="img/pixl-wlogo.png" alt>
          <h1 class="h1-seo">Pixl</h1>
          <h3>Share your view of the world with other photographers, and get better by learning from the others's clichés.</h3>
        </div>
        <h6 class="category category-absolute">
          <div class="fl-container">
            <n-button @click="goto('signup')" class="item" type="primary" size="lg" round>Sign Up</n-button>
            <n-button @click="goto('login')" class="item" type="primary" size="lg" round>Login</n-button>
          </div>
        </h6>
      </div>
    </div>
    <div class="separator separator-primary"></div>
  </div>
</template>

<script>
import { Button } from '@/components';
export default {
  name: 'starter',
  bodyClass: 'index-page',
  components: {
    [Button.name]: Button
  },
  methods: {
    goto: function(page) {
      this.$router.push(`/${page}`);
    }
  }
};
</script>
<style>
.item {
  margin: 10px !important;
}
</style>
