<template>
  <div class="page-header clear-filter" filter-color="black">
    <div class="page-header-image" style="background-image: url('img/login.jpg')"></div>
    <div class="content">
      <div class="container">
        <div class="col-md-5 ml-auto mr-auto">
          <card type="login" plain>
            <div slot="header" class="logo-container">
              <img v-lazy="'img/pixl-wlogo.png'" alt>
            </div>

            <template>
              <alert type="success" v-if="showSuccess">{{ successMessage }}</alert>
              <alert type="danger" v-if="showError">{{ errorMessage }}</alert>
            </template>

            <fg-input
              class="input-lg"
              placeholder="Username"
              v-model="username"
              @keypress.enter="login"
            ></fg-input>

            <fg-input
              class="input-lg"
              placeholder="Password"
              type="password"
              v-model="password"
              @keypress.enter="login"
            ></fg-input>

            <template slot="raw-content">
              <div class="card-footer text-center">
                <n-button @click="login" type="primary" size="lg" class="btn-block" round>Login</n-button>
              </div>
              <div class="pull-left">
                <h6>
                  <router-link to="/signup" class="link footer-link">Create Account</router-link>
                </h6>
              </div>
              <!--<div class="pull-right">
                <h6>
                  <a href="#pablo" class="link footer-link">Need Help?</a>
                </h6>
              </div>-->
            </template>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Alert, Card, Button, FormGroupInput } from '@/components';
import StarterFooter from '@/layout/StarterFooter';
import * as JWT from 'jwt-decode';
import axios from 'axios';

const client = axios.create({
  baseURL: 'https://pixl.tech/api/accounts',
  timeout: 2000
});

export default {
  name: 'login-page',
  bodyClass: 'login-page',
  data() {
    return {
      username: '',
      password: '',
      showError: false,
      errorMessage: '',
      showSuccess: false,
      successMessage: '',
      api: 'https://pixl.tech/api/accounts/authentication'
    };
  },
  components: {
    Alert,
    Card,
    StarterFooter,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput
  },
  methods: {
    login: function() {
      console.log('LOGIN');
      this.showError = false;

      if (!(this.username && this.password)) {
        this.errorMessage = 'Some fields are missing';
        this.showError = true;
      } else {
        let body = {
          username: this.username,
          password: this.password
        };

        client
          .post(this.api, body)
          .then(res => {
            console.log(res);

            if (res.status === 201) {
              this.successMessage = 'Login successful';
              this.showSuccess = true;

              // Put the token in the session
              sessionStorage.token = res.data.token;

              // Open the token to retrieve the id and the pseudo
              const decoded = JWT(sessionStorage.token);

              console.log(decoded);

              if (
                decoded.userID !== undefined &&
                decoded.username !== undefined
              ) {
                sessionStorage.id = decoded.userID;
                sessionStorage.pseudo = decoded.username;

                setTimeout(() => this.$router.push('/wall'), 2000);
              } else {
                this.errorMessage = 'Token is incomplete';
                this.showError = true;
              }
            } else {
              this.errorMessage = 'Problem while login. Contact support';
              this.showError = true;
            }
          })
          .catch(err => {
            let res = err.response.data;
            console.log(res);

            if (res.status === 403 || res.status === 400) {
              this.errorMessage = res.error;
              this.showError = true;
            } else {
              this.errorMessage = 'Problem while login. Contact support';
              this.showError = true;
            }
          });
      }
    }
  }
};
</script>
<style>
</style>
