<template>
    <div>
      <div class="section">
        <div class="container">
          <tabs pills
            class="nav-align-center"
            tab-content-classes="gallery"
            tab-nav-classes="nav-pills-just-icons"
            type="primary">

            <tab-pane title="Profile">
              <i slot="label" class="now-ui-icons users_single-02"></i>

              <div class="inputs">
                <h3 class="title">Your profile</h3>

                <h5>Personal information</h5>

                <fg-input class="input-lg" placeholder="First name" v-model="fName"></fg-input>
                <fg-input class="input-lg" placeholder="Last name" v-model="lName"></fg-input>
                <fg-input class="input-lg" placeholder="Birthdate" v-model="birthdate"></fg-input>
                <fg-input class="input-lg" placeholder="Country" v-model="localisation"></fg-input>
                
                <br/>
                <h5>Professional information</h5>

                <fg-input class="input-lg" placeholder="Username" v-model="username"></fg-input>
                <fg-input class="input-lg" placeholder="Email" v-model="email"></fg-input>
                <fg-input class="input-lg" placeholder="Website" v-model="website"></fg-input>

                <br/>
                <h5>Biography</h5>
                <fg-area class="biography input-lg" v-model="biography"
                  placeholder="Biography">
                </fg-area>

                <br/>
                <h5>Avatar</h5>

                <div class="profile-row row">
                  <div class="col-md-6 ml-auto mr-auto">
                    <div class="row collections" style="margin: auto">
                      <vue-avatar-editor 
                        :width="400"
                        :height="400"
                        :hasRotation="false" 
                        :borderRadius="200" 
                        @finished="saveClicked">
                      </vue-avatar-editor>
                    </div>
                  </div>
                  <div class="col-md-6 ml-auto mr-auto">
                    <div class="row collections" style="margin: auto">
                      <img v-show="profilePic" class="profile-pic" ref="image" />
                    </div>
                  </div>
                </div>

                <br/>

                <div class="text-center">
                  <n-button @click="updateProfile" type="primary" size="lg" class="btn-block" round>Update</n-button>
                </div>
              </div>
            </tab-pane>

            <tab-pane title="Tags">
              <i slot="label" class="now-ui-icons shopping_tag-content"></i>

              <div class="inputs">
                <h3 class="title">Your tags</h3>

                <table class="tags">
                  <tr>
                    <td>
                      <input type="checkbox" v-model="tags" id="Aerial View" value="Aerial View">
                        <label for="Aerial View">Aerial View</label><br/>
                      <input type="checkbox" v-model="tags" id="Animal" value="Animal">
                        <label for="Animal">Animal</label><br/>
                      <input type="checkbox" v-model="tags" id="Autumn/Fall" value="Autumn/Fall">
                        <label for="Autumn/Fall">Autumn/Fall</label><br/>
                      <input type="checkbox" v-model="tags" id="Black And White" value="Black And White">
                        <label for="Black And White">Black And White</label><br/>
                      <input type="checkbox" v-model="tags" id="Event" value="Event">
                        <label for="Event">Event</label><br/>
                      <input type="checkbox" v-model="tags" id="Landscape" value="Landscape">
                        <label for="Landscape">Landscape</label><br/>
                    </td>
                    <td>
                      <input type="checkbox" v-model="tags" id="Lifestyle" value="Lifestyle">
                        <label for="Lifestyle">Lifestyle</label><br/>
                      <input type="checkbox" v-model="tags" id="Light Painting" value="Light Painting">
                        <label for="Light Painting">Light Painting</label><br/>
                      <input type="checkbox" v-model="tags" id="Nature" value="Nature">
                        <label for="Nature">Nature</label><br/>
                      <input type="checkbox" v-model="tags" id="Night" value="Night">
                        <label for="Night">Night</label><br/>
                      <input type="checkbox" v-model="tags" id="People" value="People">
                        <label for="People">People</label><br/>
                      <input type="checkbox" v-model="tags" id="Portrait" value="Portrait">
                        <label for="Portrait">Portrait</label><br/>
                    </td>
                    <td>
                      <input type="checkbox" v-model="tags" id="Sky" value="Sky">
                        <label for="Sky">Sky</label><br/>
                      <input type="checkbox" v-model="tags" id="Spring" value="Spring">
                        <label for="Spring">Spring</label><br/>
                      <input type="checkbox" v-model="tags" id="Summer" value="Summer">
                        <label for="Summer">Summer</label><br/>
                      <input type="checkbox" v-model="tags" id="Sunset" value="Sunset">
                        <label for="Sunset">Sunset</label><br/>
                      <input type="checkbox" v-model="tags" id="Things" value="Things">
                        <label for="Things">Things</label><br/>
                      <input type="checkbox" v-model="tags" id="Winter" value="Winter">
                        <label for="Winter">Winter</label><br/>
                    </td>
                  </tr>
                </table>

                <div class="text-center">
                  <n-button @click="updateProfile" type="primary" size="lg" class="btn-block" round>Update</n-button>
                </div>
              </div>
            </tab-pane>

            <tab-pane title="Subscribers">
              <i slot="label" class="now-ui-icons ui-2_favourite-28"></i>

              <div class="inputs">
                <h3 class="title">Your subscribers</h3>

                <table class="subscribers">
                  <tr v-for="subscriber in following" :key="subscriber.id">
                    <td>
                      <router-link :to="'/profile/' + subscriber.id" class="link text-warning">{{ subscriber.username }}</router-link>
                    </td>
                    <td>
                      <div class="text-center">
                        <n-button class="btnUnfollow btn-block" @click="unfollow(subscriber.id)" type="danger" size="lg">Unfollow</n-button>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </tab-pane>

          </tabs>
        </div>
      </div>
    </div>
</template>
<script>
import VueAvatarEditor from 'vue-avatar-editor-improved';
import { Button, FormGroupInput as FgInput } from '@/components';
import { FormGroupArea as FgArea } from '@/components';
import { Tabs, TabPane } from '@/components';
import Publication from './components/Wall/Publication.vue';
import axios from 'axios';

const client = axios.create({
  baseURL: 'https://pixl.tech/api',
  timeout: 10000
});

export default {
  name: 'parameter',
  bodyClass: 'parameter-page',
  data() {
    return {
      fName: '',
      lName: '',
      birthdate: '',
      localisation: '',
      biography: '',
      username: '',
      email: '',
      website: '',
      profilePic: '',
      tags: [],
      following: [],
      api_profile: '/profiles/' + sessionStorage.id,
      api_follow: '/profiles/subs/' + sessionStorage.id
    };
  },
  components: {
    Tabs,
    TabPane,
    Publication,
    FgInput,
    FgArea,
    [Button.name]: Button,
    VueAvatarEditor: VueAvatarEditor
  },
  methods: {
    saveClicked(img) {
      console.log(img);
      this.profilePic = img.toDataURL();
      this.$refs.image.src = this.profilePic;
    },
    getProfile() {
      console.log('GET_PROFILE');

      const header = { headers: { Authorization: sessionStorage.token } };
      let url = this.api_profile;

      client
        .get(url, header)
        .then(res => {
          console.log(res);
          const profile = res.data;
          this.fName = profile.fName;
          this.lName = profile.lName;
          this.birthdate = profile.birthdate;
          this.biography = profile.biography;
          this.localisation = profile.localisation;
          this.username = profile.username;
          this.email = profile.email;
          this.website = profile.website;
          this.profilePic = profile.profilePic;

          if(profile.tagList) {
            this.tags = profile.tagList;
          }

          if (this.profilePic != '') {
            this.$refs.image.src = this.profilePic;
          }
        })
        .catch(err => {
          console.dir(err);
        });
    },
    updateProfile() {
      console.log('UPDATE_PROFILE');

      const header = { headers: { Authorization: sessionStorage.token } };
      let url = this.api_profile;
      const data = {
        fName: this.fName,
        lName: this.lName,
        birthdate: this.birthdate,
        biography: this.biography,
        localisation: this.localisation,
        username: this.username,
        email: this.email,
        website: this.website,
        profilePic: this.profilePic,
        tagList: this.tags
      };

      client
        .post(url, data, header)
        .then(() => {
          console.log('Profile updated');
          setTimeout(() => this.$router.push('/profile/' + sessionStorage.id), 2000);
        })
        .catch(err => {
          console.dir(err);
        });
    },
    getFollowing() {
      console.log('GET_FOLLOWING');

      const header = { headers: { Authorization: sessionStorage.token } };
      let url = `${this.api_follow}`;

      // Get the following of the user
      client
        .get(url, header)
        .then(res => {
          console.log(res);
          this.following = res.data;
        })
        .catch(err => {
          console.dir(err);
        });
    },
    unfollow(id) {
      console.log(`UNFOLLOW: ${id}`);

      const header = { headers: { Authorization: sessionStorage.token } };
      const data = { followedId: id };
      let url = `${this.api_follow}`;

      client
        .delete(url, data, header)
        .then(res => {
          console.log(res);
          this.getFollowing();
        })
        .catch(err => {
          console.dir(err);
        });
    },
    uploadImageSuccess(formData, index, fileList) {
      console.log(`Picture retrieved: ${fileList[index].path}`);
      this.banner = "background-image:url('" + fileList[index].path + "')";
    },
    beforeRemove(index, done, fileList) {
      console.log('index', index, fileList);
      var r = confirm('Are you sure ?');
      if (r == true) {
        this.banner = '';
        done();
      }
    },
    editImage(formData, index, fileList) {
      console.log(`Banner edited: ${fileList[index].path}`);
      this.banner = "background-image:url('" + fileList[index].path + "')";
    },
    dataChange(data) {
      console.log(data);
    }
  },
  beforeMount() {
    this.getProfile();
    this.getFollowing();
  }
};
</script>
<style>
@media (min-width: 1100px) {
  .profile-row,
  .inputs {
    width: 50% !important;
  }
}

@media (max-width: 1099px) {
  .profile-row,
  .inputs {
    width: 70% !important;
  }
}
.profile-row {
  margin: auto !important;
  width: 100% !important;
}
.profile-row .col-md-6 {
  opacity: unset !important;
}
.inputs {
  margin: auto;
  text-align: center;
}
.inputs h5 {
  text-align: left;
}
.biography,
.biographe:focus,
.biography:active {
  border-bottom: none !important;
  border: 1px solid #e3e3e3 !important;
  border-radius: 30px !important;
}
.tags {
  text-align: left;
}
.subscribers {
  margin-left: 0px !important;
}
.btnUnfollow {
  width: 50% !important;
  padding: 0px !important;
}
.profile-pic {
  width: 200px !important;
  height: 200px !important;
}
</style>
