<template>
    <div>
        <div class="page-header clear-filter" filter-color="orange">
            <parallax class="page-header-image"
                      :style="banner">
            </parallax>
            <div class="container">
                <div class="photo-container">
                    <img :src="profilePic" alt="">
                </div>
                <h3 class="title">{{username}}</h3>
                <p class="category">{{localisation}}</p>
                <div class="content">
                    <div class="social-description">
                        <h2>{{following.length}}</h2>
                        <p>Following</p>
                    </div>
                    <div class="social-description">
                        <h2>{{posts.length}}</h2>
                        <p>Posts</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">
                    <n-button v-if="userId != id && !isFollowed" @click="follow" class="btn btn-primary btn-round btn-lg">Follow</n-button>
                    <a v-if="website" :href="'//' + website" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on my website">
                        <i class="website fas fa-link"></i>
                    </a>
                </div>
                
                <div v-if="biography">
                  <h3 class="title">About me</h3>
                  <h5 class="description">{{biography}}</h5>
                </div>

                <h3 class="title text-center">My posts</h3>
                <div class="row">
                    <div class="col-md-10 ml-auto mr-auto">
                        <div class="row collections">
                            <div @click="showPost(post)" v-for="post in posts" :key="post.id" class="post-image col-md-6">
                                <img :src="post.image" alt="" class="img-raised">
                            </div>
                        </div>
                    </div>
                </div>

                <modal :show.sync="modals.publicationShow" footer-classes="justify-content-center" type="notice">
                    <publication class="postOpened"
                      v-bind = "currentPost"
                      v-bind:key="currentPost.id"
                      v-if="modals.publicationShow">
                    </publication>
                </modal>
            </div>
        </div>
    </div>
</template>
<script>
import { Tabs, TabPane } from '@/components';
import { Modal } from '@/components';
import Publication from './components/Wall/Publication.vue';
import axios from 'axios';

const client = axios.create({
  baseURL: 'https://pixl.tech/api',
  timeout: 10000
});

export default {
  name: 'profile',
  bodyClass: 'profile-page',
  data() {
    return {
      id: this.$route.params.pathMatch,
      username: '',
      birthdate: '',
      biography: '',
      localisation: '',
      website: '',
      profilePic: '',
      banner: '',
      following: [],
      currentPost: {},
      posts: [],
      api_following: '/profiles/subs/',
      api_follow: '/profiles/subs/' + sessionStorage.id,
      userId: sessionStorage.id,
      usersFollowing: [],
      modals: {
        publicationShow: false
      }
    };
  },
  components: {
    Tabs,
    TabPane,
    Publication,
    Modal
  },
  computed: {
    isFollowed() {
      return this.usersFollowing.includes(this.id);
    },
    getProfileApi() {
      return '/profiles/' + this.id;
    },
    getWallApi() {
      return '/wall/' + this.id;
    }
  },
  methods: {
    showPost(post) {
      console.log('click ok');
      console.log(post);
      this.currentPost = post;
      this.modals.publicationShow = true;
    },
    getProfile() {
      console.log('GET_PROFILE');

      const header = { headers: { Authorization: sessionStorage.token } };
      let url = this.getProfileApi;

      client
        .get(url, header)
        .then(res => {
          console.log(res);
          const profile = res.data;
          this.username = profile.username;
          this.birthdate = profile.birthdate;
          this.biography = profile.biography;
          this.localisation = profile.localisation;
          this.website = profile.website;
          this.profilePic = profile.profilePic;
        })
        .catch(err => {
          console.dir(err);
        });
    },
    getFollowing() {
      console.log('GET_FOLLOWING');

      const header = { headers: { Authorization: sessionStorage.token } };
      let url = `${this.api_following}`;

      // Get the following of the profile shown
      client
        .get(url + this.id, header)
        .then(res => {
          console.log(`Subscribers of the profile: ${res.data}`);
          this.following = res.data;
        })
        .catch(err => {
          console.dir(err);
        });

      // Get the following of the current user
      if (this.id != sessionStorage.id) {
        client
          .get(url + sessionStorage.id, header)
          .then(res => {
            console.dir(res.data);
            console.log(`Subscribers of the current user: ${res.data}`);
            this.usersFollowing = res.data;
          })
          .catch(err => {
            console.dir(err);
          });
      }
    },
    getPosts() {
      console.log('GET_POSTS');

      const header = { headers: { Authorization: sessionStorage.token } };
      let url = this.getWallApi + `?page=1&limit=100`;

      client
        .get(url, header)
        .then(res => {
          this.posts = res.data;
          console.log(`${this.posts.length} post(s) retrieved`);
        })
        .catch(err => {
          console.dir(err);
        });
    },
    getBanner() {
      console.log('GET_BANNER');

      const header = { headers: { Authorization: sessionStorage.token } };
      let url = this.getProfileApi + '/randomBanner';
      console.log(url);

      client
        .get(url, header)
        .then(res => {
          console.log('Banner retrieved');
          this.banner = "background-image:url('" + res.data + "')";
        })
        .catch(err => {
          console.dir(err);
        });
    },
    follow() {
      console.log(`FOLLOW: ${this.id}`);

      const header = { headers: { Authorization: sessionStorage.token } };
      const data = { followedId: this.id };
      let url = `${this.api_follow}`;

      client
        .post(url, data, header)
        .then(res => {
          console.log(res);
          this.getFollowing();
        })
        .catch(err => {
          console.dir(err);
        });
    }
  },
  beforeMount() {
    console.log(`Token: ${sessionStorage.token}`);
    this.getProfile();
    this.getBanner();
    this.getFollowing();
    this.getPosts();
  }
};
</script>
<style>
.website {
  font-size: 30px !important;
  line-height: 1.75 !important;
  color: #eeeeee !important;
}
.post-image .img-raised:hover {
  opacity: 0.5;
  cursor: pointer;
}
.post-image {
  opacity: 1 !important;
  position: relative !important;
}
.postOpened .category {
  text-align: left !important;
}
</style>
