<template>
  <div class="page-header clear-filter" filter-color="black">
    <div class="page-header-image" style="background-image: url('img/signup.jpg')"></div>
    <div class="content">
      <div class="container">
        <div class="col-md-5 ml-auto mr-auto">
          <card type="login" plain>
            <div slot="header" class="logo-container">
              <img v-lazy="'img/pixl-wlogo.png'" alt>
            </div>

            <template>
              <alert type="success" v-if="showSuccess">{{ successMessage }}</alert>
              <alert type="danger" v-if="showError">{{ errorMessage }}</alert>
            </template>

            <fg-input
              class="input-lg"
              placeholder="First Name"
              v-model="fname"
              @keypress.enter="signup"
            ></fg-input>

            <fg-input
              class="input-lg"
              placeholder="Last Name"
              v-model="lname"
              @keypress.enter="signup"
            ></fg-input>

            <fg-input
              class="input-lg"
              :class="{isWrong: !checkEmail}"
              placeholder="Email"
              v-model="email"
              @keypress.enter="signup"
            ></fg-input>

            <fg-input
              class="input-lg"
              placeholder="Username"
              v-model="username"
              @keypress.enter="signup"
            ></fg-input>

            <fg-input
              class="input-lg"
              :class="{isWrong: !checkPassword}"
              placeholder="Password"
              type="password"
              v-model="password"
              @keypress.enter="signup"
            ></fg-input>

            <fg-input
              class="input-lg"
              :class="{isWrong: !checkPassword}"
              placeholder="Password again"
              type="password"
              v-model="check_password"
              @keypress.enter="signup"
            ></fg-input>

            <template slot="raw-content">
              <div class="card-footer text-center">
                <n-button
                  @click="signup"
                  type="primary"
                  size="lg"
                  class="btn-block"
                  round
                >Create Account</n-button>
              </div>
              <div class="pull-left">
                <h6>
                  <router-link to="/login" class="link footer-link">Login</router-link>
                </h6>
              </div>
              <!--<div class="pull-right">
                <h6>
                  <a href="#pablo" class="link footer-link">Need Help?</a>
                </h6>
              </div>-->
            </template>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Alert, Card, Button, FormGroupInput } from '@/components';
import StarterFooter from '@/layout/StarterFooter';
import axios from 'axios';

const client = axios.create({
  baseURL: 'https://pixl.tech/api/accounts',
  timeout: 2000
});

export default {
  name: 'login-page',
  bodyClass: 'login-page',
  data() {
    return {
      fname: '',
      lname: '',
      email: '',
      username: '',
      password: '',
      check_password: '',
      reg: /^(([^<>()[]\\.,;:s@"]+(.[^<>()[]\\.,;:s@"]+)*)|(".+"))@(([[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}])|(([a-zA-Z-0-9]+.)+[a-zA-Z]{2,24}))$/,
      api: '/registration',
      successMessage: '',
      errorMessage: '',
      showError: false,
      showSuccess: false
    };
  },
  components: {
    Alert,
    Card,
    StarterFooter,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput
  },
  computed: {
    checkPassword: function() {
      return this.password === '' || this.password === this.check_password;
    },
    checkEmail: function() {
      return this.email === '' || this.reg.test(this.email) || true; // FIXME: Regex not working
    }
  },
  methods: {
    signup: function() {
      console.log('SIGNUP');
      this.showError = false;

      if (
        !(
          this.fname &&
          this.lname &&
          this.email &&
          this.username &&
          this.password
        )
      ) {
        this.errorMessage = 'Some fields are missing';
        this.showError = true;
      } else if (this.checkEmail && this.checkPassword) {
        let body = {
          fName: this.fname,
          lName: this.lname,
          email: this.email,
          username: this.username,
          password: this.password
        };

        client
          .post(this.api, body)
          .then(res => {
            console.log(res);

            if (res.status === 201) {
              this.successMessage = 'Registration successful';
              this.showSuccess = true;

              setTimeout(() => this.$router.push('/login'), 2000);
            } else {
              this.errorMessage =
                'A problem occured during registration. Contact support';
              this.showError = true;
            }
          })
          .catch(err => {
            let res = err.response.data;
            console.log(res);

            if (res.status === 403 || res.status === 400) {
              this.errorMessage = res.error;
              this.showError = true;
            } else {
              this.errorMessage =
                'A problem occured during registration. Contact support';
              this.showError = true;
            }
          });
      }
    }
  }
};
</script>
<style>
.isWrong input {
  border-color: #ff3636 !important;
}
</style>
