<template>
  <div>
    <div v-if="posts.length > 0">
      <fg-input 
        @keyup.enter="getResearch"
        v-model="research"
        class="wall"
        placeholder="Research"
        addon-right-icon="now-ui-icons ui-1_zoom-bold">
      </fg-input>

      <carousel v-if="users.length > 0" :users="users"></carousel>

      <wall class="wall wall-margin" v-bind:posts="posts"></wall>
    </div>
    <div v-else>
      <h4 class="no-post">No posts found. Be the first to create your own !</h4>
    </div>

    <publication-add-button @click.native="modals.publicationCreation = true"></publication-add-button>

    <modal :show.sync="modals.publicationCreation" footer-classes="justify-content-center" type="notice">
      <publication-form v-on:close-modal="closeModal" :creator-i-d="userId" :creator-username="pseudo" v-if="modals.publicationCreation"></publication-form>
    </modal>
  </div>
</template>

<script>
import { FormGroupInput as FgInput } from '@/components';
import Carousel from './components/ProfileCarousel/ProfileCarousel.vue';
import Wall from './components/Wall/Wall.vue';
import PublicationForm from './components/Publication/PublicationForm.vue';
import PublicationAddButton from './components/Publication/PublicationAddButton.vue';
import { Modal } from '@/components';
import axios from 'axios';

const client = axios.create({
  baseURL: 'https://pixl.tech/api',
  timeout: 10000
});

export default {
  name: 'wall-page',
  bodyClass: 'wall-page',
  data() {
    return {
      posts: [],
      users: [],
      userId: sessionStorage.id,
      pseudo: sessionStorage.pseudo,
      modals: {
        publicationCreation: false
      },
      api: '/wall',
      research: ''
    };
  },
  components: {
    Carousel,
    FgInput,
    Wall,
    PublicationForm,
    PublicationAddButton,
    Modal
  },
  methods: {
    closeModal() {
      this.modals.publicationCreation = false;
      setTimeout(() => this.getWall(), 2000);
    },
    getResearch() {
      console.log(`SEARCH: ${this.research}`);
      this.search(this.research);
    },
    getWall() {
      console.log('GET_WALL');
      this.search('');
    },
    search(filter) {
      const header = { headers: { Authorization: sessionStorage.token } };
      let url = `${this.api}?page=1&limit=10`;

      if (filter !== '') {
        url += `&filter=${filter}`;
      }

      client
        .get(url, header)
        .then(res => {
          console.log(res);
          this.posts = res.data;
        })
        .catch(err => {
          console.dir(err);
        });
    }
  },
  beforeMount() {
    this.getWall();
  }
};
</script>
<style>
@media (min-width: 1100px) {
  .wall {
    width: 50% !important;
  }
}

@media (max-width: 1099px) {
  .wall {
    width: 70% !important;
  }
}
.wall,
.no-post {
  margin: auto !important;
  margin-top: 110px !important;
}
.no-post {
  text-align: center;
}
.wall-margin {
  margin-top: 25px !important;
}
.modal-dialog {
  max-width: 600px !important;
}
.modal-header button {
  position: static !important;
}
.wall *,
.wall ::before,
.wall ::after {
  box-sizing: unset !important;
}
.searchbar {
  margin-bottom: 25px !important;
}
</style>
