<template>
  <navbar
    position="fixed"
    type="primary"
    :transparent="transparent"
    :color-on-scroll="colorOnScroll"
    menu-classes="ml-auto"
  >
    <template>
      <router-link class="navbar-brand" to="redirect">PixL</router-link>
    </template>
    <template slot="navbar-menu">
      <li class="nav-item">
        <a class="nav-link" href="#pablo">
          <i class="now-ui-icons ui-1_bell-53" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item" v-if="$route.name !== 'wall'">
        <router-link :to="'/wall'" class="nav-link">
          <i class="now-ui-icons design_image" aria-hidden="true"></i>
        </router-link>
      </li>
      <li class="nav-item" v-if="$route.name !== 'profile'">
        <router-link :to="'/profile/' + userId" class="nav-link">
          <i class="now-ui-icons users_single-02" aria-hidden="true"></i>
        </router-link>
      </li>
      <li class="nav-item" v-if="$route.name !== 'parameters'">
        <router-link :to="'/parameters'" class="nav-link">
          <i class="now-ui-icons ui-1_settings-gear-63" aria-hidden="true"></i>
        </router-link>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" @click="logOut">
          <i class="material-icons logout_btn" aria-hidden="true">exit_to_app</i>
        </a>
      </li>
    </template>
  </navbar>
</template>

<script>
import { Navbar } from '@/components';

export default {
  name: 'main-navbar',
  props: {
    transparent: Boolean,
    colorOnScroll: Number
  },
  components: {
    Navbar
  },
  data() {
    return {
      userId: sessionStorage.id
    };
  },
  methods: {
    logOut() {
      // Clear session
      sessionStorage.removeItem('id');
      sessionStorage.removeItem('item');

      setTimeout(() => this.$router.push('/'), 2000);
    }
  }
};
</script>
<style>
.logout_btn {
  font-size: 18px !important;
  line-height: 1.5 !important;
}
</style>
