<template v-on:show="emptyFields">
  <div class="row col-12">

    <alert id="alert" type="danger" v-if="showError">{{ errorMessage }}</alert>

    <h5 slot="header" class="post-title modal-title">Let's create your own publication</h5>

    <input type="hidden" id="id" :value="creatorID" />
    <input type="hidden" id="pseudo" :value="creatorUsername" />

    <fg-input class="no-border form-control-lg" v-model="title" 
      placeholder="Title"
      addon-left-icon="now-ui-icons text_caps-small">
    </fg-input>

    <fg-area class="fg-area no-border form-control-lg" v-model="description"
      placeholder="Description"
      addon-left-icon="now-ui-icons text_caps-small">
    </fg-area>
    <table>
      <tr>
        <td>
          <input type="checkbox" v-model="tags" id="Aerial View" value="Aerial View">
            <label for="Aerial View">Aerial View</label><br/>
          <input type="checkbox" v-model="tags" id="Animal" value="Animal">
            <label for="Animal">Animal</label><br/>
          <input type="checkbox" v-model="tags" id="Autumn/Fall" value="Autumn/Fall">
            <label for="Autumn/Fall">Autumn/Fall</label><br/>
          <input type="checkbox" v-model="tags" id="Black And White" value="Black And White">
            <label for="Black And White">Black And White</label><br/>
          <input type="checkbox" v-model="tags" id="Event" value="Event">
            <label for="Event">Event</label><br/>
          <input type="checkbox" v-model="tags" id="Landscape" value="Landscape">
            <label for="Landscape">Landscape</label><br/>
        </td>
        <td>
          <input type="checkbox" v-model="tags" id="Lifestyle" value="Lifestyle">
            <label for="Lifestyle">Lifestyle</label><br/>
          <input type="checkbox" v-model="tags" id="Light Painting" value="Light Painting">
            <label for="Light Painting">Light Painting</label><br/>
          <input type="checkbox" v-model="tags" id="Nature" value="Nature">
            <label for="Nature">Nature</label><br/>
          <input type="checkbox" v-model="tags" id="Night" value="Night">
            <label for="Night">Night</label><br/>
          <input type="checkbox" v-model="tags" id="People" value="People">
            <label for="People">People</label><br/>
          <input type="checkbox" v-model="tags" id="Portrait" value="Portrait">
            <label for="Portrait">Portrait</label><br/>
        </td>
        <td>
          <input type="checkbox" v-model="tags" id="Sky" value="Sky">
            <label for="Sky">Sky</label><br/>
          <input type="checkbox" v-model="tags" id="Spring" value="Spring">
            <label for="Spring">Spring</label><br/>
          <input type="checkbox" v-model="tags" id="Summer" value="Summer">
            <label for="Summer">Summer</label><br/>
          <input type="checkbox" v-model="tags" id="Sunset" value="Sunset">
            <label for="Sunset">Sunset</label><br/>
          <input type="checkbox" v-model="tags" id="Things" value="Things">
            <label for="Things">Things</label><br/>
          <input type="checkbox" v-model="tags" id="Winter" value="Winter">
            <label for="Winter">Winter</label><br/>
        </td>
      </tr>
    </table>

    <upload-image id="upload-image"
      @upload-success="uploadImageSuccess"
      @before-remove="beforeRemove"
      @edit-image="editImage"
      @data-change="dataChange"
    ></upload-image>

    <n-button @click="createPublication" type="primary" block>Create</n-button>
  </div>
</template>

<script>
import { FormGroupInput as FgInput } from '@/components';
import { FormGroupArea as FgArea } from '@/components';
import UploadImage from './UploadImage.vue';
import { Alert, Button } from '@/components';
import axios from 'axios';

const client = axios.create({
  baseURL: 'https://pixl.tech/api/publications',
  timeout: 2000
});

export default {
  name: 'publication-form',
  props: {
    creatorID: { type: String, required: true },
    creatorUsername: { type: String, required: true }
  },
  components: {
    Alert,
    FgInput,
    FgArea,
    UploadImage,
    [Button.name]: Button
  },
  data() {
    return {
      title: '',
      description: '',
      tags: [],
      image: '',
      errorMessage: '',
      showError: false
    };
  },
  methods: {
    createPublication() {
      console.log('CREATE_PUBLICATION');

      this.showError = false;

      // Check if all
      if (!(this.title && this.tags.length > 0 && this.image)) {
        this.errorMessage =
          'Some fields are missing: title, tags and image must be set';
        this.showError = true;
      } else {
        let publication = {
          creatorID: this.creatorID,
          creatorUsername: this.creatorUsername,
          title: this.title,
          tags: this.tags,
          image: this.image,
          imageMini: 'mini'
        };

        // Add description if existing
        if (this.description !== '') {
          publication.description = this.description;
        }

        const header = { headers: { Authorization: sessionStorage.token } };

        client
          .post(this.api, publication, header)
          .then(res => {
            console.log(res);

            if (res.status === 201) {
              this.successMessage = 'Publication creation successful';
              this.showSuccess = true;

              // Close the form
              this.$emit('close-modal');

              // or use this directly
              //<n-button @click="$emit('close-modal')" type="primary" block>Close</n-button>
            } else {
              this.errorMessage =
                'A problem occured during publication creation. Contact support';
              this.showError = true;
            }
          })
          .catch(err => {
            const res = err.response.data;
            console.log(res);

            if (res.status === 403 || res.status === 400) {
              this.errorMessage = res.error;
              this.showError = true;
            } else {
              this.errorMessage =
                'A problem occured during publication creation. Contact support';
              this.showError = true;
            }
          });
      }
    },
    uploadImageSuccess(formData, index, fileList) {
      console.log(`Picture retrieved: ${fileList[index].path}`);
      this.image = fileList[index].path;
    },
    beforeRemove(index, done, fileList) {
      console.log('index', index, fileList);
      var r = confirm('Are you sure ?');
      if (r == true) {
        this.image = '';
        done();
      }
    },
    editImage(formData, index, fileList) {
      console.log(`Picture edited: ${fileList[index].path}`);
      this.image = fileList[index].path;
    },
    dataChange(data) {
      console.log(data);
    }
  }
};
</script>
<style>
#alert {
  margin: auto !important;
  margin-bottom: 10px;
}
table {
  padding-left: 15%;
  padding-right: 15%;
  margin-left: 3rem;
  width: 100%;
}
td {
  width: 30%;
}
.post-title {
  margin: auto !important;
  margin-bottom: 20px !important;
}
label {
  margin-left: 5px;
}
#upload-image {
  display: flex;
  justify-content: center;
  margin: auto;
}
.image-bottom {
  width: 90% !important;
}
label .image-edit {
  margin-bottom: none !important;
}
</style>
