<template>
  <n-button class="publication-add-button" type="primary" round>
    <i>
      <div class="svg-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 64 64">
          <g transform="translate(0, 0)">
            <path data-color="color-2" fill="#ffffff" d="M18,11H8V8c0-0.552,0.448-1,1-1h8c0.552,0,1,0.448,1,1V11z"></path>
            <path fill="#ffffff" d="M58,13h-8.546l-6.701-7.659C42.562,5.125,42.288,5,42,5H28c-0.288,0-0.562,0.125-0.753,0.341L20.546,13H6 c-2.757,0-5,2.243-5,5v36c0,2.757,2.243,5,5,5h52c2.757,0,5-2.243,5-5V18C63,15.243,60.757,13,58,13z M13,26c-1.103,0-2-0.897-2-2 s0.897-2,2-2s2,0.897,2,2S14.103,26,13,26z M35,50c-7.732,0-14-6.268-14-14s6.268-14,14-14s14,6.268,14,14S42.732,50,35,50z"></path>
          </g>
        </svg>
      </div>
    </i>
  </n-button>
</template>

<script>
import { Button } from '@/components';

export default {
  name: 'publication-add-button',
  components: {
    [Button.name]: Button
  }
};
</script>
<style>
.publication-add-button {
  position: fixed;
  right: 15px;
  bottom: 70px;
}
</style>
